




#calendar {
	max-width: 1200px;
	margin: 20px auto 0;
}


.green {
	color: #FFFFFF;
	background-color: #369a5f;
	border: 1px solid #257e4a;
}
.yellow {
	color: #FFFFFF;
	background-color: #f3b20f;
	border: 1px solid #af7d00;
}
.red {
	color: #FFFFFF;
	background-color: #ea5454;
	border: 1px solid #b11616;
}
.pink {
	color: #FFFFFF;
	background-color: #ff005e;
	border: 1px solid #bf0063;
}
